<!DOCTYPE html>
<html>
<head>
	<title>TodoList</title>
	<meta charset="utf-8">
	<script src='./vue.js'></script>
</head>
<body>
	<div id="app">
       <input type="text" name="text" v-model="inputVaule"/>
       <button v-on:click="handleBtnClick">提交</button>
       <ul>
    	  <!-- <li >{{item}}</li> -->
        <todo-item v-bind:content='item' 
                   v-for="item in list">
        </todo-item>
       </ul>
    </div>
    <script>
      //全局注册
      /*Vue.component('todo-item',{
            props:['content'],
            template: "<li>{{content}}</li>"//差值表达式
    })*/
      var todo-item = {
        props: ['content'],
        template: "<li>{{content}}</li>"
      }
    	var app = new Vue({
    		el: '#app',
        components: {
        todo-item:todo-item
        },
    		data: {
                list:[],
                inputVaule: ''
    		},
    		methods: {
    			handleBtnClick:function(){
                   this.list.push(this.inputVaule)
                   this.inputVaule = '' /*输入框清空*/

    			}
    		}
    		
    	})
    </script>
</body>
</html>